/* .banner::after{
    content: '';
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    height: 80px;
    width: 102%;
    top: 99.5%;
    position: absolute;
    background-color: red;
} */
.bannerTriangle{
    content: '';
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    height: 80px;
    width: 103%;
    top: 99.5%;
    position: absolute;
    background-color: red;
}
.bannerInsetBorder{
    content: '';
    height: 100%;
    position: absolute;
    background-color: red;
    width:100%;
}
.banner{
    width: 100%;
    display: flex;
    height: 100%;
    background-color: red;
    position: relative;
    max-height: 650px;
    justify-content: center;
    overflow: visible;
    overflow-x: clip;
    top: -750px;
}
.bannerShort{
    max-height: 550px;
    top: -650px;
}

.bannerMedium{
    max-height: 600px;
    top: -690px;
}

@keyframes bannerGrow {
    from {
      top: -780px;
    }
    to {
      top: 0px;
    }
}

@keyframes bannerLongGrow {
    from {
      top: -780px;
    }
    to {
      top: 0px;
    }
}

@keyframes bannerMediumGrow {
    from {
      top: -780px;
    }
    to {
      top: 0px;
    }
}

@keyframes bannerShortGrow {
    from {
      top: -780px;
    }
    to {
      top: 0px;
    }
}

.bannerShortDrop{
    animation: 
    bannerShortGrow 2s ease-in-out forwards;
}

.bannerMediumDrop{
    animation: 
    bannerMediumGrow 2s ease-in-out forwards;
}

.bannerLongDrop{
    animation: 
    bannerLongGrow 2s ease-in-out forwards;
}
  
 .bannerContainer{
  display:flex;
  flex-direction:row;
  width:100%;
  gap:30px;
  height:700px;
}

/* .bannerContainerDrop{
    animation: 
  bannerGrow 2s ease-in-out forwards;
} */

.bannerInset{
    width: 100%;
    display: flex;
    background-color: green;
    position: absolute;
    max-height: 700px;
    justify-content: center;
    align-items: end;
    overflow: visible;
    overflow-x: clip;
    z-index: 1;
    height: 99%;
    top: 0px;
}

/* .bannerInset::after{
    content: '';
    clip-path: polygon(50% 95%, 0 0, 100% 0);
    height: 80px;
    width: 102%;
    top: 99.6%;
    position: absolute;
    background-color: green;
    z-index: 1;
} */

.bannerInsetTwo{
    width: 100%;
    display: flex;
    background-color: red;
    position: absolute;
    max-height: 700px;
    justify-content: center;
    align-items: end;
    overflow: visible;
    overflow-x: clip;
    z-index: 1;
    height: 98%;
    top: 0px;
}

/* .bannerInsetTwo::after{
    content: '';
    clip-path: polygon(50% 90%, 0 0, 100% 0);
    height: 80px;
    width: 102%;
    top: 99.6%;
    position: absolute;
    background-color: red;
    z-index: 1;
} */

.bannerInsetContainer{
    position: absolute;
    height: 100%;
    display: flex;
    width: 95%;
    justify-content: center;
    overflow: visible;
    overflow-x: clip;
}
.bannerInsetTriangle{
    content: '';
    clip-path: polygon(50% 95%, 0 0, 100% 0);
    height: 80px;
    width: 102%;
    top: 98.9%;
    position: absolute;
    background-color: green;
    z-index: 1;
}

.bannerInsetTwoTriangle{
    content: '';
    clip-path: polygon(50% 90%, 0 0, 100% 0);
    height: 80px;
    width: 102%;
    top: 97.9%;
    position: absolute;
    background-color: red;
    z-index: 1;
}

.bannerInsetTwoContainer{
    position: absolute;
    height: 100%;
    display: flex;
    width: 90%;
    justify-content: center;
    overflow: visible;
    overflow-x: clip;
}

.tableRow{
    display:flex;
    flex-direction:row;
    width:100%;
    box-sizing:border-box;
    justify-content:space-between;
    color:#e1b164;
    gap:20px;
    border-bottom:solid 1px #e1b1642e;
    padding-bottom:10px;
    opacity:0.0;
}

@keyframes tableRowVisibility {
    from {
      opacity: 0.0;
    }
    to {
      opacity: 1;
    }
}

.tableRowVisible{
    animation:
    tableRowVisibility 2s ease-in-out forwards;
}

.roleOfHonourHeadingContainer{
    display:flex;
    flex-direction:column;
    width:100%;
    align-items:center;
    gap:40px;
    opacity:0;
    animation:
    tableRowVisibility 1s ease-in-out forwards 1s;
}

.roleOfHonourHeadingContainerVisible{
    animation:
    tableRowVisibility 1s ease-in-out forwards;
}