.wantedPosterWrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
}

.wantedPoster{
    display:flex;
    width:400px;
    height:440px;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    color:#483226;
}

.wantedPosterContentContainer{
    width:100%;
    display:flex;
    flex-direction:column;
    padding:40px;
    align-items:center;
    gap:15px;
    justify-content:center;
}

.wantedTitleContainer{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content:center;
    gap:10px;
}

.wantedTitleHandIcon{
    width:30px;
}

.wantedTitle{
    font-family:"Ultra";
    margin:0px;
    font-size:40px;
    font-weight:200;
}

.wantedStudentImageContainer{
    display:flex;
    flex-direction:column;
    position:relative;
    align-items:center;
}

.wantedStudentImage{
    width:180px;
    height:200px;
    object-fit:cover;
    object-position:0px -20px;
    filter:sepia(1);
    border:solid 3px #483226;
}

.wantedStudentHousePointsContainer{
    display:flex;
    background-color:#a07861;
    min-width:40px;
    height:30px;
    justify-content:center;
    align-items:center;
    position:absolute;
    top:calc(100% - 56px);
    padding:16px 20px 10px;
    border-radius:40px 40px 0px 0px;
}

.wantedStudentHousePoints{
    font-size:35px;
    color:wheat;
    font-weight:bold;
}

.wantedStudentNameContainer{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.wantedHousePointsTitle{
    font-size:14px;
    line-height:0px;
    text-align:center;
    font-weight:bold;
    margin-bottom:10px;
}

.wantedStudentName{
    font-family:Ultra;
    margin:0px;
    font-size:25px;
    margin-top:10px;
    font-weight:200;
    text-align:center;
}

@keyframes wantedPosterVisibility {
    from {
      opacity: 0.0;
    }
    to {
      opacity: 1;
    }
}

.wantedPosterWrapperShow{
    animation:
    wantedPosterVisibility 0.6s ease-in-out forwards;
}