.wantedPosterWrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
}

.wantedPoster{
    display:flex;
    width:400px;
    height:440px;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    color:#483226;
}

.wantedPosterContentContainer{
    width:100%;
    display:flex;
    flex-direction:column;
    padding:40px;
    align-items:center;
    gap:15px;
    justify-content:center;
}

.wantedTitleContainer{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content:center;
    gap:10px;
}

.wantedTitleHandIcon{
    width:30px;
}

.wantedTitle{
    font-family:"Ultra";
    margin:0px;
    font-size:40px;
    font-weight:200;
}

.wantedStudentImageContainer{
    display:flex;
    flex-direction:column;
    position:relative;
    align-items:center;
}

.wantedStudentImage{
    width:180px;
    height:200px;
    object-fit:cover;
    object-position:0px -20px;
    filter:sepia(1);
    border:solid 3px #483226;
}

.wantedStudentHousePointsContainer{
    display:flex;
    background-color:#a07861;
    min-width:40px;
    height:30px;
    justify-content:center;
    align-items:center;
    position:absolute;
    top:calc(100% - 56px);
    padding:16px 20px 10px;
    border-radius:40px 40px 0px 0px;
}

.wantedStudentHousePoints{
    font-size:35px;
    color:wheat;
    font-weight:bold;
}

.wantedStudentNameContainer{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.wantedHousePointsTitle{
    font-size:14px;
    line-height:0px;
    text-align:center;
    font-weight:bold;
    margin-bottom:10px;
}

.wantedStudentName{
    font-family:Ultra;
    margin:0px;
    font-size:25px;
    margin-top:10px;
    font-weight:200;
    text-align:center;
}

@keyframes wantedPosterVisibility {
    from {
      opacity: 0.0;
    }
    to {
      opacity: 1;
    }
}

.wantedPosterWrapperShow{
    animation:
    wantedPosterVisibility 0.6s ease-in-out forwards;
}

.door-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
    perspective: 2000px;
    transform-style: preserve-3d;
    z-index: 900;
  }

.left-door {
    background-color: transparent;
    width: 100%;
    height: 50%;
    aspect-ratio: 16 / 25;
    transform-origin: 0% 100%;
    animation: open-left-door 5s ease-in-out forwards;
    background-image: url(../img/wood-saloon-door-left.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .right-door {
    background-color: transparent;
    width: 100%;
    height: 50%;
    aspect-ratio: 16 / 25;
    animation: open-right-door 5s ease-in-out forwards;
    transform-origin: 100% 100%;
    background-image: url(../img/wood-saloon-door-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @keyframes open-right-door {
    0% {
      transform: rotateY(-0deg) translateX(0px);
    }
    50% {
      transform: rotateY(-90deg) translateX(0px);
    }
    100% {
      transform: rotateY(-90deg) translateX(1000px);
    }
  }
  
  @keyframes open-left-door {
    0% {
        transform: rotateY(0deg) translateX(0px);
      }
      50% {
        transform: rotateY(90deg) translateX(0px);
      }
      100% {
        transform: rotateY(90deg) translateX(-1000px);
      }
  }

  .testScale{
    transform: scale3d(0.5, 0.5, 1);
    animation: zoomIn 5.8s 2.4s ease-in-out forwards;
  }

  @keyframes zoomIn {
    from {
        transform: scale3d(0.5, 0.5, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
  }